body {
    background-image: url(https://i.imgur.com/lg1GFWH.png);
    background-size: cover;
    font-family: 'Nanum Brush Script', cursive;
    height: 90vh;
}
nav {
    /* grid-area: nav; */
    background-color: rgba(0,0,0,.5);
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    height: 35px
}
.login img {
    height: 20px;
} 
nav > a:hover:not(.active) {
    color: black;
    background-color: orange;
}
nav > a.active {
    color: white;
    cursor: default;
}
a {
    font-size: 30px;
    font-family: 'Nanum Brush Script', cursive;
    color: white;
}
h1 {
    text-align: center;
    font-size: 155px;
    margin: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    font-size: 30px;
    margin: 10px 10px 10px 10px;
    font-family: 'Nanum Brush Script', cursive;
    border: none;
    background-color: rgba(1, 1, 1, .5);
    color: white;
    text-align: center;
}
select {
    font-size: 30px;
    font-family: 'Nanum Brush Script', cursive;
}
#add {
    border-style: solid;
    border-color: darkred;
    background-color: rgba(0,0,0,.5);
    color: white;
    font-family: 'Nanum Brush Script', cursive;
}
label {
    color: white;
    margin-top: 5px;
}