#home {
    background-image: url(https://i.imgur.com/wxPcGmg.png);
    font-family: 'Nanum Brush Script', cursive;
    height: 90vh;
}
#homeTitle {
    font-size: 180px;
    margin: 0;
}
#homeNav {
    background-color: rgba(0,0,0,.5);
    width: 50%;
    display: inline-flex;
    justify-content: space-around;
}
#homeNav > a:hover:not(.active) {
    color: black;
    background-color: orange;
}
  
#homeNav > a.active {
    color: white;
    cursor: default;
}
#homeFooter{
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 30px;
}
.login img {
    height: 20px;
}
a {
    font-size: 30px;
    color: white;
    margin: 0px 20px 0px 20px;
}
p {
    max-width: 50%;
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
}
strong {
    color: black;
}

@media only screen and (max-width: 600px){
    #homeNav {
        height: 50px;
    }
    a {
        font-size: 58px;
    }
    p {
        font-size: 30px;
    }
    #homeFooter {
        font-size: 50px;
    }
}