body {
    background-image: url(https://i.imgur.com/x5eGOVd.png);
    background-size: 100%;
    font-family: 'Nanum Brush Script', cursive;
    height: 90vh;
}
nav {
    /* grid-area: nav; */
    background-color: rgba(0,0,0,.5);
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    height: 35px
}
.login img {
    height: 20px;
} 
nav > a:hover:not(.active) {
    color: black;
    background-color: orange;
}
nav > a.active {
    color: white;
    cursor: default;
}
a {
    font-size: 30px;
    font-family: 'Nanum Brush Script', cursive;
    color: white;
}
h1 {
    text-align: center;
    font-size: 155px;
    margin: 20px;
    color: lightgray;
}
ul {
    list-style: url(https://i.imgur.com/SwHF4r1.png);
    color: white;
    font-size: 45px;
    margin-left: 50px;
    margin-bottom: 0;
    margin-top: 0px;
}
h2 {
    color: orange;
    font-size: 40px;
    margin-bottom: 3px;
}
textarea {
    font-size: 19px;
    height: 100px;
    width: 300px;
}
label {
    color: orange;
    font-size: 20px;
}
input {
    font-size: 20px;
}
select {
    font-size: 20px;
    font-family: 'Nanum Brush Script', cursive;
}
h3 {
    font-size: 25px;
    color: white;
    margin-bottom: 0;
    margin-left: 5px;
}
#chat {
    background-color: rgba(0,0,0,.5);
    max-width: 500px;
}
h4 {
    font-size: 15px;
    color: white;
    margin-top: 2px;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: white;
    font-size: 19px;
    margin: 1px 0px 0px 5px;
    float: right;
}
strong {
    color: orange;
}
#edit {
    border: solid;
    border-color: orange;
    background-color: rgba(255, 166, 0, 0.747);
    text-decoration: none;
    margin-left: 50px;
}
button {
    font-size: 20px;
    font-family: 'Nanum Brush Script', cursive;
    border: solid;
    border-color: orange;
    background-color: rgba(255, 166, 0, 0.747);
}
#showImage {
text-align: center;
}
@media only screen and (max-width: 600px){
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
    }
    h1 {
        font-size: 90px;
        text-align: center;
    }
    nav {
        height: 30px;
        width: 100%;
    }
    a {
        font-size: 25px;
    }
    #edit {
        max-width: 100px;
        align-self: center;
    }
    li {
        font-size: 40px;
    }
    ul {
        margin-left: 25px;
    }
    h2 {
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;    
        align-items: center;
    }
 
}