body {
  height: 90vh;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(240, 156, 46);
  display: grid;
  grid-template-areas: 
  'nav nav nav'
  'left mid right'
  'ftr ftr ftr';
  grid-template-rows: 30px 1fr 30px;
  grid-template-columns: 450px 1fr 450px;
}
nav {
  grid-area: nav;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
  height: 35px
}
.login img {
  height: 20px;
} 
nav > a:hover:not(.active) {
  color: black;
  background-color: orange;
}

nav > a.active {
  color: white;
  cursor: default;
}
a {
  font-size: 30px;
  font-family: 'Nanum Brush Script', cursive;
  color: white;
}
#right {
  grid-area: right;
  width: 450px;
  height: 1080px;
  margin-top: 5px;
}
#left {
  grid-area: left;
  width: 450px;
  height: 1080px;
  margin-top: 5px;

}
footer {
  grid-area: ftr;
}
#mid {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-areas: 
  'head'
  'list';
}
h1 {
  grid-area: mid;
  grid-area: head;
  font-size: 150px;
  font-family: 'Nanum Brush Script', cursive;
  margin: 0px;
  justify-self: center;
  height: 155px;
}
table {
  grid-area: list;
  max-width: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
}
tr {
  max-width: 380px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
td {
  text-align: center;
  max-width: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ninjas {
  font-size: 45px;
  margin: auto;
}
/* ul {
  grid-area: mid;
  grid-area: list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
li {
  font-size: 50px;
} */